.education_container{
    margin-top: 40px;
}.education_head {
    text-align: center;
    color: #fff;
    border-bottom: 4px solid #00aeff;
    width: fit-content;
    margin: auto;
    font-size: 2.6rem;
    text-transform: uppercase;

}

.education_head span {
    color: #00aeff;
}


.card {
    position: relative;
    margin-top: 50px;
}

.first-card {
    width: 400px;
    height: 315px;
    background-color: #000;
    position: relative;
    text-align: center;
}

.first-card img {
    width: 100%;
    height: 310px;

}

.back-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 310px;
    transition: transform .4s ease-in;
    background: linear-gradient(270deg, rgb(255, 25, 195) 0%, rgb(0, 220, 255) 16%, rgb(122, 255, 0) 82%, rgb(0, 254, 207) 100%);
    z-index: -1;
    box-shadow: 0px 0px 112px -41px rgb(255, 25, 195), 0 -10px 26px -5px rgb(0, 220, 255), 0px 0px 112px -41px rgb(122, 255, 0), 0 -10px 26px -5px rgb(0, 254, 207);
}

.thid-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 310px;
    transition: transform .4s ease-in;
    background: linear-gradient(270deg, rgb(255, 25, 195) 0%, rgb(0, 220, 255) 16%, rgb(122, 255, 0) 82%, rgb(0, 254, 207) 100%);
    z-index: -1;
    box-shadow: 0px 0px 112px -41px rgb(255, 25, 195), 0 -10px 26px -5px rgb(0, 220, 255), 0px 0px 112px -41px rgb(122, 255, 0), 0 -10px 26px -5px rgb(0, 254, 207);
}

.card:hover .back-card {
    transform: rotate(5deg);
}

.card:hover .thid-card {
    transform: rotate(-5deg);
}

.card_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 20px;
}

.card_content_text {
    width: 50%;
}

.card_content_text .card_title,
.year {
    color: #fff;
}

.year {
    font-weight: bold;
}

.card_title span,
.institution-name,
.year span {
    color: #00aeff;
}

.para_education {
    color: #fff;
    line-height: 2;
}

.social_links .icon {
    height: 25px;
    width: 40px;
    color: #fff;
}

.social_links .icon:hover {
    color: #00aeff;
}

.education_icon {
    height: 25px;
    width: 40px;
    color: #fff;
}

.card_container {
    margin-top: 50px;
}

@media (min-width: 769px) {
    .card_container.second_card .card {
        order: 2;
    }

    .card_container.second_card .card_content_text {
        order: 1;
    }
}


@media (max-width: 768px) {
    .education_cards {
        margin-top: 40px;
    }

    .card_container {
        display: flex;
        margin: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .card_content_text {
        width: 77%;
        margin-top: 40px;
    }

}