.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #060518;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logo .logo_text {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  /* display: flex;
  align-items: center;
  gap: 10px; */
}
/* .profile_nav {
  height: 5%;
  color: transparent;
  width: 5%;
} */

.hamburger {
  display: none;
  position: relative;
  width: 30px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
  margin-right: 10px;
}

.hamburger .line {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.hamburger .line:nth-child(1) {
  top: 0;
}

.hamburger .line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.hamburger .line:nth-child(3) {
  bottom: 0;
}

.hamburger.open .line:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
}

.hamburger.open .line:nth-child(2) {
  opacity: 0;
}

.hamburger.open .line:nth-child(3) {
  transform: rotate(-45deg);
  top: 50%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
}

.nav-links li a:hover,
.nav-links li a.active {
  color: aqua;
}

/* .nav-links.open {
  animation: slideIn 0.5s forwards;
} */
.nav_icon {
  padding-right: 10px;
}
@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 769px) {
  .navbar {
    padding: 4px 20px;
  }
}

@media (max-width: 768px) {
  .logo_container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .navbar {
    padding: 18px 20px;
  }

  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #060518;
    width: 100%;
    padding: 20px;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  .nav-links.open {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    z-index: 9;
  }

  .nav-links li {
    margin: 10px auto;
  }
}
